* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Open Sans";
    width: 100%;
    height: 30vh;
}

@font-face {
    font-family: "AlumniSansPinstripe-Regular";
    src: url(../fonts/AlumniSansPinstripe-Regular.ttf);
}
@font-face {
    font-family: "Inconsolata-VariableFont";
    src: url(../fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
label,
p,
button {
    font-family: "Open Sans";
}

input::placeholder {
    font-family: "Open Sans";
}

#top {
    text-align: center;
    padding-bottom: 25px;
}

p {
    font-family: "Open Sans";
}

.padre {  
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
    grid-auto-flow: row;
    grid-template-areas: 
    "header"
    "main"
    "section"
    "footer"
}
header{
    grid-area: header;
    padding: 0%;
}
.logo {
    width: 100px;
    padding: 10px;
    margin: 0;
    justify-content: space-around;
}

nav {
    text-align: center;
    background-color: white;
}

.menu {
    list-style-type: none;
    padding: 0px 10px;
}

.menu .item {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 25px;
    text-transform: uppercase;
    font-style: none;
}

.menu .submenu .sub_i {
    display: block;
    font-size: 1rem;
    padding: auto;
}

.menu .item a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    font-size: 14px;
}

.menu .submenu {
    position: absolute;
    display: none;
    background-color: white;
    padding: 5px;
    z-index: 999;
    box-shadow: 0px 1px 5px 2px rgb(238, 238, 238);
}

.menu .item:hover .submenu {
    display: block;
    transition: all .3s ease 0s;
}

.menu .submenu .sub_i {
    padding: 2px 0;
    width: 200px;
}

.menu .submenu .sub_i a {
    font-size: 11px;
}

.menu .item:hover a {
    color: #c89b67;
    background-color: #f0f8ff;
    transition: all .3s ease 0s;
}
.menu .submenu .sub_i a:hover{
    display: block;
    color: #053762;
}
main{
    grid-area: main;
    display: flex;
}
.slogan {
    font-size: 50px;
    z-index: 999;
    color: black;
    width: 100%;
    text-align: center;
    top: 55%;
    position: absolute;
}
.slogan .center {
    margin: 0 auto;
    width: 60%;
}
.sevilla{
    transition: all 2s;
}
.sevilla:hover{
    border-radius: 35%;
}
section{
    grid-area: section;
    background-color: bisque;
    text-align: center;
    margin-top: 80px;
    padding: 90px;
}
footer {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    color: white;
}

footer div ul li {
    list-style: none;
    text-align: center;
    font-size: 15px;
    display: flex;
    padding: 12px;
}
footer div ul li .logotel {
    width: 25px;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    height: 450px;
    flex-direction: row;
    width: 80%;
    max-width: 1000px;
}

.sobre {
    font-weight: bolder;
    margin: 0;
    position: relative;
    top: 31%;
    left: 26%;
    width: 50%;
    text-align: center;
    overflow: auto;
}

.sobremi img {
    width: 300px;
    margin-left: 10%;

}
.sobremi{
    padding-bottom: 200px;
    float: left;
    width: 50%;
}
.sobremi-description{
    width: 100%;
    float: left;
    height: 100%;
}
*/
.contact-form {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 0 auto;
    padding-top: 20px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img {
    flex-basis: 33%;
    width: 25%;
}
.contact-form label {
    font-size: 12px;
}

.contact-form input {
    margin: 10px 0;
    border-radius: 0;
    border-width: 1px;
    padding: 5px;
}

.contact-form button {
    margin-bottom: 50PX;
    border-radius: 0;
    border: 1px solid #000;
    padding: 5px 0;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #CCC;
}
@media screen and (max-width: 768px) {
    .padre {  
        grid-template-columns: 1.5fr;
        grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
        grid-auto-flow: row;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "footer"
    }
}
@media screen and (max-width: 420px) {
    .padre {  
        grid-template-columns: 1.5fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "footer"
    }
}




